<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Details</title>
</head>
<body>
<table th:object="${user}">
    <tr>
        <th>Id</th>
        <th>LastName</th>
        <th>FirstName</th>
        <th>Gender</th>
        <th>Date of Birth</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Address</th>
        <th>Title</th>
        <th>Roles</th>
        <th>Action</th>
    </tr>
    <tr>
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getLastName()}"></td>
        <td th:text="${user.getFirstName()}"></td>
        <td th:text="${user.getSex()}"></td>
        <td th:text="${user.getDob()}"></td>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getMobile()}"></td>
        <td th:text="${user.getAddress()}"></td>
        <td th:text="${user.getTitle()}"></td>
        <td th:text="${roles}"></td>
        
        <td>
            <a th:href="@{/admins/assignRole/{id}(id=${user.getId()})}"><button>Assign Roles</button> </a>
            
        </td>
    </tr>
</table>
</body>
</html>