<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout2}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Muhammad Amotul-Rahman Oluwatosin">
    <title>User Profile Page</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <h2>User Details</h2>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <!--                        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>-->
                <!--                        <div><h3>Welcome, <span sec:authentication="name">Username</span></h3></div>-->
                <!--                        <div><span sec:authentication="principal.authorities">[SELLER, STAFF]</span></div>-->
                <div><h3>Welcome, <span th:text="${user.getFirstName()}+ ' ' +${user.getLastName()}"></span></h3></div>
            </div>
        </div>
    </div>
    
    <div class="col-md-8 text-left h3 font-weight-normal">
        <table class="table table-hover table-striped">
            <tr>
                <td th:text="${user.getFirstName()}"></td>
                <td th:text="${user.getLastName()}"></td>
                <td th:text="${user.getTitle()}"></td>
            </tr>
            <tr>
                <td th:text="${user.getSex()}"></td>
                <td th:text="${user.getMobile()}"></td>
                <td th:text="${user.getUsername()}"></td>
            </tr>
            <tr>
                <td th:text="${user.getDob()}"> </td>
                <td th:text="${user.getTitle()}"></td>
            </tr>
            <tr>
                <td th:text="${user.getAddress()}"> </td>
                
            </tr>
            <tr>
                <td>My Roles</td>
                <td th:text="${roles}" colspan="2"></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>