<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>

<form method="post" th:action="${'/users/updatePassword'}">
    <div>
        <label>Old Password:</label>
        <input type="password" name="oldPassword" required/>
    </div>
    <div>
        <label>New Password:</label>
        <input type="password" name="newPassword" required/>
    </div>
    <div>
        <label>Confirm Password:</label>
        <input type="password" name="confirmPassword" required/>
    </div>
    <div>
        <button type="submit">Change Password</button>
    </div>
</form>

</body>
</html>