body{
    background-color: azure;
    height: 100%;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    color: black;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
.body_container {
    background-image: url("../images/background.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.mt-50{
    margin-top: 50px;
}