<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Muhammad Amotul-Rahman Oluwatosin">
    <title>Edit Aircraft</title>
</head>
<body class="body_container">
<div layout:fragment="content" class="container">
<form method="post" th:action="${'/aircrafts/update'}" th:object="${aircraft}">
    <input type="hidden" name="id" th:field="*{id}"/>
    <div>
        <label>Name</label>
        <input type="text" name="name" th:field="*{name}" required/>
    </div>
    <div>
        <label>Aircraft Model:</label>
        <input type="text" name="aircraftModel" th:field="*{aircraftModel}" required/>
    </div>
    <div>
        <label>Aircraft Capacity:</label>
        <input type="number" name="capacity" th:field="*{capacity}" required/>
    </div>
    <div>
        <button type="submit">Update</button>
    </div>
</form>
</div>
</body>
</html>