<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Flight</title>
</head>
<body>
<form method="post" th:action="${'/booking/createBooking'}">
  
    
    <div>
        <label >Flight class:</label>
        <select name="classOfFlight" id="classOfFlight">
            <option th:value="'FirstClass'" th:text="FirstClass"></option>
            <option th:value="'Business'" th:text="Business"></option>
            <option th:value="'Economy'" th:text="Economy"></option>
        </select>
    </div>
    
    <div>
        <label >Flight class:</label>
        <select name="typeOfFlight" id="typeOfFlight">
            <option th:value="'One-Way'" th:text="One-Way"></option>
            <option th:value="'Return'" th:text="Return"></option>
        </select>
    </div>
    
    <div>
        <label>Booking Price:</label>
        <input type="text" th:value="${}">
    </div>

</form>
<script>
    let flightprice =
</script>
</body>
</html>