<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Flight</title>
</head>
<body>
<form method="post" th:action="${'/booking/bookFlight'}">
    <div>
        <label for="flight">Flight:</label>
        <select name="flight" id="flight">
            <option value="">Select Flight:</option>
            <option th:each="f:${flights}"
                    th:value="${f.getId()}"
                    th:text="${f.getFlightRegNum()}">
            </option>
        </select>
        <fieldset id="flightDetails">
            <legend >Flight Details</legend>
            <table>
                <tr>
                    <th>Id</th>
                    <th>Destination</th>
                    <th>Departure</th>
                    <th>Departure Time</th>
                    <th>Est. Arrival Time</th>
                    <th>Price</th>
                </tr>
                <tr>
                    <td th:text="${f.getId()}"></td>
                    <td th:text="${f.getDestination()}"></td>
                    <td th:text="${f.getDeparture()}"></td>
                    <td th:text="${f.getDepartureDate()}"></td>
                    <td th:text="${f.getArrivalTime()}"></td>
                    <td th:text="${f.getPrice()}"></td>
                </tr>
            </table>
        </fieldset>
    </div>

</form>

</body>
</html>